<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.member.mapper.MemberMapper">
    <!--적은 닉네임을 가지고와서 멘티 테이블에서 그 닉네임이 있는지 확인-->
    <!--<select id="checkId" parameterType="String" resultType="Integer">-->

    <select id="checkEmailUse"
            parameterType="String"
            resultType="int">
       SELECT /* select - MemberMapper.xml : 210925 @eunseo */
            COUNT(*)
        FROM TB_MEMBER_L
       WHERE 1=1
       AND USE_YN = 'Y'
       AND MEM_EMAIL = #{email}
    </select>

    <select id="checkNickNameUse"
            parameterType="String"
            resultType="int">
       SELECT /* select - MemberMapper.xml : 210925 @eunseo */
            COUNT(*)
        FROM TB_MENTEE_I
       WHERE 1=1
       AND USE_YN = 'Y'
       AND MENTEE_NM = #{nickName}
    </select>

    <insert id="insert"
            parameterType="member">
       INSERT INTO /* insert - MemberMapper.xml : 210927 @eunseo */
        TB_MEMBER_L (
             MEM_ID
           , MEM_NM
           , MEM_EMAIL
           , MEM_TEL
           , MEM_PROFILE_FILE_SEQNO
           , MEM_TP_CD
           , CRE_DTTM
        ) VALUES (
             #{memId}
           , #{memNm}
           , #{memEmail}
           , #{memTel, jdbcType=VARCHAR}
           , #{memProfileFileSeqno, jdbcType=INTEGER}
           , 'MT01'
           , SYSDATE
        )
    </insert>

    <select id="selJoinMemId"
            resultType="String">
       SELECT FN_PK_GEN('ME') FROM DUAL /* select - MemberMapper.xml : 210928 @eunseo */
    </select>

    <select id="selMemPwd"
            parameterType="String"
            resultType="String">
       SELECT /* select - MemberMapper.xml : 210930 @eunseo */
             PASSWORD
       FROM TB_LOGIN_I
       WHERE 1=1
       AND USE_YN = 'Y'
       AND MEM_ID = #{memId}
    </select>

    <insert id="insertSecInfo"
            parameterType="member">
        <selectKey keyProperty="secessionSeqno" resultType="integer" order="BEFORE">
            SELECT TB_MEM_SECESSION_I_SEQ.nextval FROM DUAL
        </selectKey>
       INSERT INTO /* insert - MemberMapper.xml : 210930 @eunseo */
        TB_MEM_SECESSION_I (
             SECESSION_SEQNO
            ,MEM_ID
            ,SECESSION_TP_CD
            ,SECESSION_REASON
            ,SECESSION_DATE
            ,CRE_DTTM
        ) VALUES (
             #{secessionSeqno}
            ,#{memId}
            ,#{secessionTpCd}
            ,#{secessionReason, jdbcType=VARCHAR}
            ,SYSDATE
            ,SYSDATE
        )
    </insert>

    <update id="delete"
            parameterType="member">
        UPDATE /* update - MemberMapper.xml : 210930 @eunseo */
               TB_MEMBER_L
        SET  USE_YN = 'N'
            ,UPT_DTTM = SYSDATE
        WHERE MEM_ID = #{memId}
    </update>

    <update id="updatePassword"
            parameterType="member">
        UPDATE TB_LOGIN_I /* update - MemberMapper.xml : 211008 @eunseo */
        SET PASSWORD = #{password}
           ,UPT_DTTM = SYSDATE
        WHERE 1=1
        AND USE_YN = 'Y'
        AND MEM_ID = #{memId}
    </update>

    <update id="update"
            parameterType="member">
        UPDATE TB_MEMBER_L /* update - MemberMapper.xml : 211011 @eunseo */
        SET
        <if test='memProfileFileSeqno !=null'>
            MEM_PROFILE_FILE_SEQNO = #{memProfileFileSeqno},
        </if>
        <if test='memTel !=null and memTel != "" '>
            MEM_TEL = #{memTel},
        </if>
            UPT_DTTM = SYSDATE
        WHERE 1=1
        AND USE_YN = 'Y'
        AND MEM_ID = #{memId}
    </update>


</mapper>