<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.auth.mapper.AuthMapper">

    <insert id="insert"
            parameterType="auth">
        <selectKey keyProperty="apvReqSeqno" resultType="integer" order="BEFORE">
            SELECT TB_AUTH_L_SEQ.nextval FROM DUAL
        </selectKey> /* select - AuthMapper.xml : 210917 @eunseo */
        INSERT INTO
          TB_AUTH_L (
             APV_REQ_SEQNO
            ,APV_REQ_TP_CD
            ,APV_REQ_TP_VAL
            ,CERT_NO
            ,UNIX_TIME_APV_STRT_DTTM
            ,UNIX_TIME_APV_END_DTTM
            ,CRE_DTTM
          ) VALUES (
             #{apvReqSeqno}
            ,#{apvReqTpCd}
            ,#{apvReqTpVal}
            ,#{certNo}
            ,#{unixTimeApvStrtDttm}
            ,#{unixTimeApvEndDttm}
            ,SYSDATE
          )
    </insert>

    <select id="select"
            parameterType="auth"
            resultType="auth">
        SELECT /* select - AuthMapper.xml : 210917 @eunseo */
            TMST.APV_REQ_SEQNO AS apvReqSeqno
           ,TMST.CERT_NO AS certNo
        FROM(
              SELECT
                    ROW_NUMBER() OVER(PARTITION BY MST.APV_REQ_TP_VAL ORDER BY MST.CRE_DTTM) AS MST_ROWNUM
                   ,MST.APV_REQ_SEQNO
                   ,MST.CERT_NO
              FROM (
                      SELECT
                            A.APV_REQ_SEQNO
                           ,A.APV_REQ_TP_VAL
                           ,A.CERT_NO
                           ,A.CRE_DTTM
                      FROM TB_AUTH_L A
                      WHERE A.APV_REQ_TP_VAL = #{apvReqTpVal}
                      AND A.UNIX_TIME_APV_STRT_DTTM <![CDATA[<]]> #{checkApvTime}
                      AND A.UNIX_TIME_APV_END_DTTM <![CDATA[>]]> #{checkApvTime}
                      ORDER BY A.CRE_DTTM DESC
                    ) MST
              ) TMST
        WHERE ROWNUM = 1
    </select>

    <update id="update"
            parameterType="auth">
        UPDATE TB_AUTH_L /* update - AuthMapper.xml : 210917 @eunseo */
           SET
               CERT_CHCK_YN = 'Y'
              ,UPT_DTTM = SYSDATE
        WHERE APV_REQ_SEQNO = #{apvReqSeqno}
    </update>

    <insert id="insertLoginInfo"
            parameterType="auth">
        INSERT INTO /* insert - AuthMapper.xml : 210925 @eunseo */
          TB_LOGIN_I (
             MEM_ID
            ,LOGIN_ID
            ,PASSWORD
            ,CRE_DTTM
          ) VALUES (
             #{memId}
            ,#{loginId}
            ,#{password}
            ,SYSDATE
          )
    </insert>

    <select id="login"
            parameterType="auth"
            resultType="auth">
        SELECT /* select - AuthMapper.xml : 210929 @eunseo */
              L.MEM_ID AS memId
             ,L.PASSWORD AS password
             ,M.MEM_TP_CD AS memTpCd
             ,MT.MENTEE_ID AS menteeId
        FROM TB_LOGIN_I L
        LEFT OUTER JOIN TB_MEMBER_L M ON M.MEM_ID = L.MEM_ID
        LEFT OUTER JOIN TB_MENTEE_I MT ON MT.MEM_ID = M.MEM_ID
        WHERE 1=1
        AND L.LOGIN_ID = #{loginId}
        AND M.USE_YN = 'Y'
    </select>

    <select id="selectPassword"
            parameterType="String"
            resultType="String">
        SELECT /* select - AuthMapper.xml : 211008 @eunseo */
               PASSWORD AS password
        FROM TB_LOGIN_I
        WHERE 1=1
        AND USE_YN = 'Y'
        AND MEM_ID = #{memId}
    </select>

    <select id="getMentoId"
            parameterType="String"
            resultType="String">
        SELECT /* select - AuthMapper.xml : 211014 @eunseo */
               MENTO_ID AS mentoId
        FROM TB_MENTO_I
        WHERE 1=1
        AND USE_YN = 'Y'
        AND MEM_ID = #{memId}
    </select>
</mapper>