<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.classes.mapper.ClassesMapper">
<!--insert: 클래스 신청하기-->
    <insert id="insertClass" parameterType="classes" >
       INSERT INTO TB_CLASS_L (
        CLASS_ID,
        MENTO_ID,
        CLASS_CTGR_CD,
        CLASS_DETAIL_CTGR_CD,
        CLASS_NM,
        CLASS_FILE_SEQNO,
        CLASS_TITLE,
        CLASS_DSTN,
        CLASS_STRT_DATE,
        CLASS_STRT_TIME,
        CLASS_DRTN_TIME,
        CLASS_MAX_MTE,
        CLASS_PLACE,
        CLASS_CHARGE,
        CRE_DTTM

       ) VALUES(
        #{classId},
        #{mentoId},
        #{classCtgrCd},
        #{classDetailCtgrCd},
        #{classNm},
        #{classFileSeqno, jdbcType=INTEGER},
        #{classTitle},
        #{classDstn},
        TO_DATE(#{classStrtDate},'YYYY-MM-DD'),
        #{classStrtTime},
        #{classDrtnTime},
        #{classMaxMte},
        #{classPlace},
        #{classCharge},
        sysdate
       )
    </insert>
    <select id="selClassId" resultType="String">
   SELECT FN_PK_GEN('CS') FROM DUAL
    </select>
 <insert id="insertClassProcess" parameterType="classes">
     <selectKey keyProperty="classProcessSeqno" resultType="integer" order="BEFORE">
         SELECT TB_CLASS_P_SEQ.nextval FROM DUAL
     </selectKey>
    INSERT INTO TB_CLASS_PROCESS_L (
        CLASS_PROCESS_SEQNO,
        CLASS_ID,
        CLASS_PROCESS_TITLE,
        CLASS_PROCESS_DESC,
        CRE_DTTM
       ) VALUES(
   #{classProcessSeqno},
   #{classId},
   #{classProcessTitle},
   #{classProcessDesc},
    sysdate
   )
 </insert>
<!--    파일 일련번호 자동 생성 여부 체크 -->
 <insert id="insertClassDetail" parameterType="classes">
     <selectKey keyProperty="classDetailSeqno" resultType="integer" order="BEFORE">
         SELECT TB_CLASS_D_SEQ.nextval FROM DUAL
     </selectKey>
      INSERT INTO TB_CLASS_DETAIL_L (
       CLASS_DETAIL_SEQNO,
       CLASS_ID,
       CLASS_DETAIL_TITLE,
       CLASS_DETAIL_FILE_SEQNO,
       CRE_DTTM
      )VALUES(
      #{classDetailSeqno},
      #{classId},
      #{classDetailTitle},
      #{classDetailFileSeqno},
      sysdate
      )
 </insert>

<select id="selectDateClass"  parameterType="classes" resultType="classes">
    SELECT
    C.CLASS_ID AS classId
    ,C.CLASS_NM AS classNm
    ,M.MENTO_ID AS mentoId
    ,M.MENTO_NM AS mentoNm
    ,CC.CLASS_CTGR_CD_NM AS classCtgrCdNm
    ,CCC.CLASS_CTGR_CD_NM AS classHrgkCtgrCdNm
    --,(SELECT COUNT(*) FROM TB_MENTEE_CLASS_LIKE_L tmcll WHERE CLASS_ID = TMCLL.CLASS_ID ) AS likeCnt
    ,(SELECT  COUNT(*) FROM TB_MENTEE_CLASS_LIKE_L tmcll WHERE C.CLASS_ID = TMCLL.CLASS_ID) AS likeCnt
    ,
    FROM TB_CLASS_L C
    LEFT OUTER JOIN TB_MENTO_I M ON C.MENTO_ID = M.MENTO_ID
    LEFT OUTER JOIN TB_CLASS_CATEGORY_L CC ON C.CLASS_DETAIL_CTGR_CD = CC.CLASS_CTGR_CD
    LEFT OUTER JOIN TB_CLASS_CATEGORY_L CCC ON C.CLASS_CTGR_CD = CCC.CLASS_CTGR_CD
    WHERE 1=1
    AND CLASS_STRT_DATE <![CDATA[ >=]]>  TO_DATE(#{searchStartDate}, 'YYYYMMDD')
    AND CLASS_STRT_DATE <![CDATA[<=]]>   TO_DATE(#{searchEndDate}, 'YYYYMMDD')
    ORDER BY CLASS_STRT_DATE DESC
</select>

<select id="selectLikeClass" parameterType="classes" resultType="classes">
     SELECT
    C.CLASS_ID AS classId
    ,C.CLASS_NM AS classNm
    ,M.MENTO_ID AS mentoId
    ,M.MENTO_NM AS mentoNm
    ,CC.CLASS_CTGR_CD_NM AS classCtgrCdNm
    ,CCC.CLASS_CTGR_CD_NM AS classHrgkCtgrCdNm
    ,(SELECT  COUNT(*) FROM TB_MENTEE_CLASS_LIKE_L tmcll WHERE C.CLASS_ID = TMCLL.CLASS_ID) AS likeCnt
    FROM TB_CLASS_L C
    LEFT OUTER JOIN TB_MENTO_I M ON C.MENTO_ID = M.MENTO_ID
    LEFT OUTER JOIN TB_CLASS_CATEGORY_L CC ON C.CLASS_DETAIL_CTGR_CD = CC.CLASS_CTGR_CD
    LEFT OUTER JOIN TB_CLASS_CATEGORY_L CCC ON C.CLASS_CTGR_CD = CCC.CLASS_CTGR_CD
    WHERE  ROWNUM <![CDATA[<=]]> 5

    ORDER BY likeCnt DESC
</select>

<select id="selectCategoryClass" parameterType="String" resultType="classes">
    SELECT
    C.CLASS_ID AS classId
    ,C.CLASS_NM AS classNm
    ,M.MENTO_ID AS mentoId
    ,M.MENTO_NM AS mentoNm
    ,CC.CLASS_CTGR_CD_NM AS classCtgrCdNm
    ,CCC.CLASS_CTGR_CD_NM AS classHrgkCtgrCdNm
    ,(SELECT  COUNT(*) FROM TB_MENTEE_CLASS_LIKE_L tmcll WHERE C.CLASS_ID = TMCLL.CLASS_ID) AS likeCnt
    FROM TB_CLASS_L C
    LEFT OUTER JOIN TB_MENTO_I M ON C.MENTO_ID = M.MENTO_ID
    LEFT OUTER JOIN TB_CLASS_CATEGORY_L CC ON C.CLASS_DETAIL_CTGR_CD = CC.CLASS_CTGR_CD
    LEFT OUTER JOIN TB_CLASS_CATEGORY_L CCC ON C.CLASS_CTGR_CD = CCC.CLASS_CTGR_CD
    WHERE 1=1
    AND C.CLASS_CTGR_CD = #{classCtgrCd}
    ORDER BY C.CRE_DTTM DESC
</select>

<update id="updateClass" parameterType="classes">
UPDATE TB_CLASS_L
    set
        CLASS_NM=#{classNm},
        CLASS_FILE_SEQNO=#{classFileSeqno, jdbcType=INTEGER},
        CLASS_TITLE=#{classTitle},
        CLASS_DSTN=#{classDstn},
        CLASS_STRT_DATE=#{classStrtDate},
        CLASS_STRT_TIME=TO_DATE(#{classStrtDate},'YYYY-MM-DD'),
        CLASS_DRTN_TIME=#{classDrtnTime},
        CLASS_MAX_MTE=#{classMaxMte},
        CLASS_PLACE=#{classPlace},
        CLASS_CHARGE=#{classCharge},
        UPT_DTTM=#{uptDttm, jdbcType=DATE}
       where CLASS_ID=#{classId}
</update>
<update id="updateClassDetail" parameterType="classes">
    UPDATE
     TB_CLASS_DETAIL_L
    SET
    <if test='classDetailTitle !=null  and !classDetailTitle.equals("")'>
        CLASS_DETAIL_TITLE
        =
        #{classDetailTitle},
    </if>
    <if test='classDetailFileSeqno !=null'>
        CLASS_DETAIL_FILE_SEQNO
        =
        #{classDetailFileSeqno},
    </if>
    UPT_DTTM = sysdate
   WHERE
   CLASS_ID=#{classId}
    AND
    CLASS_DETAIL_SEQNO = #{classDetailSeqno}
</update>
<update id="updateClassProcess" parameterType="classes">
    UPDATE TB_CLASS_PROCESS_L
    SET
    <if test='classProcessTitle !=null  and !classProcessTitle.equals("")'>
        CLASS_PROCESS_TITLE
        =
        #{classProcessTitle},
    </if>
    <if test='classProcessDesc !=null  and !classProcessDesc.equals("")'>
        CLASS_PROCESS_DESC
        =
        #{classProcessDesc},
    </if>
    UPT_DTTM = sysdate
    WHERE
     CLASS_ID=#{classId}
      AND
       CLASS_PROCESS_SEQNO=#{classProcessSeqno}
</update>

<delete id="deleteClassProcess" parameterType="classes">
DELETE FROM TB_CLASS_PROCESS_L
WHERE CLASS_PROCESS_SEQNO = #{classProcessSeqno}
</delete>

<delete id="deleteClassDetail" parameterType="classes">
DELETE FROM TB_CLASS_DETAIL_L
WHERE CLASS_DETAIL_SEQNO = #{classDetailSeqno}
</delete>
</mapper>