<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.classes.mapper.ClassesMapper">

    <select id="selClassId"
            resultType="String">
       SELECT FN_PK_GEN('CS') FROM DUAL
    </select>

    <insert id="insertClass"
            parameterType="classes" >
       INSERT INTO TB_CLASS_L (
            CLASS_ID,
            MENTO_ID,
            CLASS_CTGR_CD,
            CLASS_DETAIL_CTGR_CD,
            CLASS_NM,
            CLASS_FILE_SEQNO,
            CLASS_TITLE,
            CLASS_DSTN,
            CLASS_STRT_DATE,
            CLASS_STRT_TIME,
            CLASS_DRTN_TIME,
            CLASS_MAX_MTE,
            CLASS_PLACE,
            CLASS_CHARGE,
            CRE_DTTM
       ) VALUES(
            #{classId},
            #{mentoId},
            #{classCtgrCd},
            #{classDetailCtgrCd},
            #{classNm},
            #{classFileSeqno, jdbcType=INTEGER},
            #{classTitle},
            #{classDstn},
            DATE_FORMAT(#{classStrtDate},'%Y-%m-%d'),
            #{classStrtTime},
            #{classDrtnTime},
            #{classMaxMte},
            #{classPlace},
            #{classCharge},
            SYSDATE()
       )
    </insert>

    <insert id="insertClassProcess"
            parameterType="classes">
       INSERT INTO TB_CLASS_PROCESS_L (
           CLASS_PROCESS_SEQNO,
           CLASS_ID,
           CLASS_PROCESS_TITLE,
           CLASS_PROCESS_DESC,
           CRE_DTTM
       ) VALUES(
           nextval('CS_PROC_SEQ'),
           #{classId},
           #{classProcessTitle},
           #{classProcessDesc},
           SYSDATE()
       )
    </insert>

    <insert id="insertClassDetail"
            parameterType="classes">
       INSERT INTO TB_CLASS_DETAIL_L (
           CLASS_DETAIL_SEQNO,
           CLASS_ID,
           CLASS_DETAIL_TITLE,
           CLASS_DETAIL_FILE_SEQNO,
           CRE_DTTM
       ) VALUES(
           nextval('CS_DTL_SEQ'),
           #{classId},
           #{classDetailTitle},
           #{classDetailFileSeqno},
           SYSDATE()
       )
    </insert>

    <update id="updateClass"
            parameterType="classes">
       UPDATE TB_CLASS_L
       SET
          <if test='classNm !=null  and !classNm.equals("")'>
              CLASS_NM = #{classNm},
          </if>
          <if test='classFileSeqno !=null'>
              CLASS_FILE_SEQNO = #{classFileSeqno},
          </if>
          <if test='classTitle !=null  and !classTitle.equals("")'>
              CLASS_TITLE = #{classTitle},
          </if>
          <if test='classDstn !=null  and !classDstn.equals("")'>
              CLASS_DSTN = #{classDstn},
          </if>
          <if test='classStrtDate !=null  and !classStrtDate.equals("")'>
              CLASS_STRT_DATE = DATE_FORMAT(#{classStrtDate},'%Y-%m-%d'),
          </if>
          <if test='classStrtTime !=null  and !classStrtTime.equals("")'>
              CLASS_STRT_TIME = #{classStrtTime},
          </if>
          <if test='classDrtnTime !=null  and !classDrtnTime.equals("")'>
              CLASS_DRTN_TIME = #{classDrtnTime},
          </if>
          <if test='classMaxMte !=null'>
              CLASS_MAX_MTE = #{classMaxMte},
          </if>
          <if test='classPlace !=null  and !classPlace.equals("")'>
              CLASS_PLACE = #{classPlace},
          </if>
          <if test='classCharge !=null  and !classCharge.equals("")'>
              CLASS_CHARGE = #{classCharge},
          </if>
              UPT_DTTM = SYSDATE()
       WHERE CLASS_ID = #{classId}
    </update>

    <update id="updateClassDetail"
            parameterType="classes">
       UPDATE TB_CLASS_DETAIL_L
       SET
          <if test='classDetailTitle !=null  and !classDetailTitle.equals("")'>
              CLASS_DETAIL_TITLE = #{classDetailTitle},
          </if>
          <if test='classDetailFileSeqno !=null'>
              CLASS_DETAIL_FILE_SEQNO = #{classDetailFileSeqno},
          </if>
              UPT_DTTM = SYSDATE()
       WHERE 1=1
       AND CLASS_ID = #{classId}
       AND CLASS_DETAIL_SEQNO = #{classDetailSeqno}
    </update>

    <update id="updateClassProcess"
            parameterType="classes">
       UPDATE TB_CLASS_PROCESS_L
       SET
          <if test='classProcessTitle !=null  and !classProcessTitle.equals("")'>
              CLASS_PROCESS_TITLE = #{classProcessTitle},
          </if>
          <if test='classProcessDesc !=null  and !classProcessDesc.equals("")'>
              CLASS_PROCESS_DESC = #{classProcessDesc},
          </if>
              UPT_DTTM = SYSDATE()
       WHERE 1=1
       AND CLASS_ID = #{classId}
       AND CLASS_PROCESS_SEQNO = #{classProcessSeqno}
    </update>

    <update id="updateCurrentMte"
            parameterType="classes">
       UPDATE TB_CLASS_L
       SET
           UPT_DTTM = SYSDATE(),
           CLASS_CURRENT_MTE = CLASS_CURRENT_MTE + 1
       WHERE CLASS_ID = #{classId}
    </update>

    <update id="deleteFileSeqno"
            parameterType="classes">
        UPDATE TB_CLASS_L /* update - ClassesMapper.xml : 211118 @eunseo */
        SET
            CLASS_FILE_SEQNO = #{classFileSeqno, jdbcType=INTEGER}
           ,UPT_DTTM = SYSDATE()
        WHERE CLASS_ID = #{classId}
    </update>

    <update id="deleteProcess"
            parameterType="classes">
       UPDATE TB_CLASS_PROCESS_L
       SET
           USE_YN = 'N'
          ,UPT_DTTM = SYSDATE()
       WHERE CLASS_ID = #{classId}
       <if test='classProcessSeqno != null'>
       AND CLASS_PROCESS_SEQNO = #{classProcessSeqno}
       </if>
    </update>

    <update id="deleteDetail"
            parameterType="classes">
       UPDATE TB_CLASS_DETAIL_L
       SET
           USE_YN = 'N'
          ,UPT_DTTM = SYSDATE()
       WHERE CLASS_ID = #{classId}
       <if test='classDetailSeqno != null'>
       AND CLASS_DETAIL_SEQNO = #{classDetailSeqno}
       </if>
    </update>

    <update id="deleteMteLike"
            parameterType="classes">
       UPDATE TB_MENTEE_CLASS_LIKE_L
       SET
           USE_YN = 'N'
          ,UPT_DTTM = SYSDATE()
       WHERE CLASS_ID = #{classId}
    </update>

    <update id="delete"
            parameterType="classes">
       UPDATE TB_CLASS_L
       SET
           USE_YN = 'N'
          ,UPT_DTTM = SYSDATE()
       WHERE CLASS_ID = #{classId}
    </update>

    <select id="getInfo"
            parameterType="String"
            resultType="classes">
       SELECT
              C.CLASS_ID AS classId
             ,C.CLASS_NM AS classNm
             ,C.CLASS_TITLE AS classTitle
             ,C.CLASS_DSTN AS classDstn
             ,STR_TO_DATE(
                           CONCAT(
                                  DATE_FORMAT(C.CLASS_STRT_DATE, '%Y-%m-%d')
                                 ,C.CLASS_STRT_TIME)
                          ,'%Y-%m-%d %H:%i') AS classStrtDateTime
             ,DATE_ADD(
                       STR_TO_DATE(
                                   CONCAT(
                                          DATE_FORMAT(C.CLASS_STRT_DATE, '%Y-%m-%d')
                                         ,C.CLASS_STRT_TIME)
                                  ,'%Y-%m-%d %H:%i')
                        ,interval cast(C.CLASS_DRTN_TIME as unsigned) minute) AS classEndDateTime
             ,CONCAT(C.CLASS_DRTN_TIME, '분') AS classDrtnTime
             ,C.CLASS_CURRENT_MTE AS classCurrentMte
             ,C.CLASS_MAX_MTE AS classMaxMte
             ,C.CLASS_PLACE AS classPlace
             ,C.CLASS_CHARGE AS classCharge
             ,M.MENTO_ID AS mentoId
             ,M.MENTO_NM AS mentoNm
             ,M.MENTO_DSTN AS mentoDstn
             ,CC.CLASS_CTGR_CD_NM AS classCtgrCdNm
             ,CCC.CLASS_CTGR_CD_NM AS classHrgkCtgrCdNm
             ,(SELECT  COUNT(*) FROM TB_MENTEE_CLASS_LIKE_L tmcll WHERE C.CLASS_ID = TMCLL.CLASS_ID and tmcll.USE_YN = 'Y') AS likeCnt
             ,C.CLASS_FILE_SEQNO AS classFileSeqno
             ,F.FILE_PATH AS classFilePath
             ,F.FILE_NM AS classFileNm
             ,COALESCE(C.UPT_DTTM, C.CRE_DTTM) AS creDttm
       FROM TB_CLASS_L C
       LEFT OUTER JOIN TB_MENTO_I M ON C.MENTO_ID = M.MENTO_ID
       LEFT OUTER JOIN TB_CLASS_CATEGORY_L CC ON C.CLASS_DETAIL_CTGR_CD = CC.CLASS_CTGR_CD
       LEFT OUTER JOIN TB_CLASS_CATEGORY_L CCC ON C.CLASS_CTGR_CD = CCC.CLASS_CTGR_CD
       LEFT OUTER JOIN TB_FILE_M F ON C.CLASS_FILE_SEQNO = F.FILE_SEQNO AND F.USE_YN= 'Y'
       WHERE C.CLASS_ID = #{classId}
       AND C.USE_YN = 'Y'
    </select>

    <select id="getDetailList"
            parameterType="String"
            resultType="classes">
       SELECT
              C.CLASS_DETAIL_TITLE AS classDetailTitle
             ,C.CLASS_DETAIL_FILE_SEQNO AS classDetailFileSeqno
             ,F.FILE_PATH AS classDetailFilePath
             ,F.FILE_NM AS classDetailFileNm
       FROM TB_CLASS_DETAIL_L C
       LEFT OUTER JOIN TB_FILE_M F ON C.CLASS_DETAIL_FILE_SEQNO = F.FILE_SEQNO AND F.USE_YN = 'Y'
       WHERE C.CLASS_ID = #{classId}
       AND C.USE_YN = 'Y'
       ORDER BY C.CLASS_DETAIL_SEQNO
    </select>

    <select id="getProcessList"
            parameterType="String"
            resultType="classes">
       SELECT
              C.CLASS_PROCESS_TITLE AS classProcessTitle
             ,C.CLASS_PROCESS_DESC AS classProcessDesc
       FROM TB_CLASS_PROCESS_L C
       WHERE C.CLASS_ID = #{classId}
       AND C.USE_YN = 'Y'
       ORDER BY C.CLASS_PROCESS_SEQNO
    </select>

    <select id="getMteLikeList"
            parameterType="String"
            resultType="classes">
       SELECT
              ML.MENTEE_ID AS menteeId
             ,ML.CLASS_ID AS classId
             ,C.CLASS_NM AS classNm
             ,C.CLASS_DSTN AS classDstn
             ,C.CLASS_STRT_DATE AS classStrtDate
             ,M.MENTO_ID AS mentoId
             ,M.MENTO_NM AS mentoNm
             ,CC.CLASS_CTGR_CD_NM AS classCtgrCdNm
             ,CCC.CLASS_CTGR_CD_NM AS classHrgkCtgrCdNm
             ,(SELECT  COUNT(*) FROM TB_MENTEE_CLASS_LIKE_L tmcll WHERE C.CLASS_ID = TMCLL.CLASS_ID and tmcll.USE_YN = 'Y') AS likeCnt
       FROM TB_MENTEE_CLASS_LIKE_L ML
       LEFT OUTER JOIN TB_CLASS_L C ON C.CLASS_ID = ML.CLASS_ID
       LEFT OUTER JOIN TB_MENTO_I M ON M.MENTO_ID = C.MENTO_ID
       LEFT OUTER JOIN TB_CLASS_CATEGORY_L CC ON C.CLASS_DETAIL_CTGR_CD = CC.CLASS_CTGR_CD
       LEFT OUTER JOIN TB_CLASS_CATEGORY_L CCC ON C.CLASS_CTGR_CD = CCC.CLASS_CTGR_CD
       WHERE ML.USE_YN = 'Y'
       AND ML.MENTEE_ID = #{menteeId}
    </select>

    <select id="getList"
            parameterType="classes"
            resultType="classes">
       SELECT
              C.CLASS_ID AS classId
             ,C.CLASS_NM AS classNm
             ,C.CLASS_DSTN AS classDstn
             ,C.CLASS_STRT_DATE AS classStrtDate
             ,C.CLASS_FILE_SEQNO AS classFileSeqno
             ,M.MENTO_ID AS mentoId
             ,M.MENTO_NM AS mentoNm
             ,CC.CLASS_CTGR_CD_NM AS classCtgrCdNm
             ,(SELECT CLASS_HGRK_CTGR_CD FROM TB_CLASS_CATEGORY_L WHERE CLASS_CTGR_CD = CC.CLASS_CTGR_CD) AS classHrgkCtgrCdNm
             ,F.FILE_SEQNO AS classFileSeqno
             ,F.FILE_PATH AS classFilePath
             ,F.FILE_NM AS classFileNm
             ,(SELECT  COUNT(*) FROM TB_MENTEE_CLASS_LIKE_L tmcll WHERE C.CLASS_ID = TMCLL.CLASS_ID and tmcll.USE_YN = 'Y') AS likeCnt
             <if test='classesSearchMCd != null and classesSearchMCd.equals("MT01")'>
             ,tmcl.MENTEE_ID AS menteeId
             </if>
       FROM TB_CLASS_L C
       LEFT OUTER JOIN TB_MENTO_I M ON C.MENTO_ID = M.MENTO_ID
       LEFT OUTER JOIN TB_CLASS_CATEGORY_L CC ON C.CLASS_DETAIL_CTGR_CD = CC.CLASS_CTGR_CD
       LEFT OUTER JOIN TB_FILE_M F ON C.CLASS_FILE_SEQNO = F.FILE_SEQNO
       <if test='classesSearchMCd != null and classesSearchMCd.equals("MT01")'>
       LEFT OUTER JOIN TB_MENTEE_CLASS_L tmcl ON tmcl.MENTEE_ID = #{menteeId}
       </if>
       WHERE C.USE_YN = 'Y'
        <if test='classCtgrCd != null and !classCtgrCd.equals("")'>
            AND C.CLASS_CTGR_CD = #{classCtgrCd}
        </if>
        <if test='classDetailCtgrCd != null and !classDetailCtgrCd.equals("")'>
            AND C.CLASS_DETAIL_CTGR_CD = #{classDetailCtgrCd}
        </if>
        <choose>
            <when test='classesSearchTpCd != null and classesSearchTpCd.equals("CS01")'>
                <if test='searchStartDate !=null  and !searchStartDate.equals("")'>
                    AND DATE_FORMAT(C.CLASS_STRT_DATE, '%Y-%m-%d') <![CDATA[ >=]]> DATE_FORMAT(#{searchStartDate}, '%Y-%m-%d')
                </if>
                <if test='searchEndDate !=null  and !searchEndDate.equals("")'>
                    AND DATE_FORMAT(C.CLASS_STRT_DATE, '%Y-%m-%d') <![CDATA[ <=]]> DATE_FORMAT(#{searchEndDate}, '%Y-%m-%d')
                </if>
            </when>
            <when test='classesSearchTpCd != null and classesSearchTpCd.equals("CS02")'>
                AND M.MENTO_NM LIKE '%${searchText}%'
            </when>
            <when test='classesSearchTpCd != null and classesSearchTpCd.equals("CS03")'>
                AND C.CLASS_NM LIKE '%${searchText}%'
            </when>
            <when test='(classesSearchTpCd != null and classesSearchTpCd.equals("CS04"))
                or (classesSearchTpCd != null and classesSearchTpCd.equals("CS05"))'>
                  <if test='classesSearchTpCd != null and classesSearchTpCd.equals("CS04")'>
                      AND STR_TO_DATE(
                                      CONCAT(
                                              DATE_FORMAT(C.CLASS_STRT_DATE, '%Y-%m-%d')
                                             ,C.CLASS_STRT_TIME)
                                       ,'%Y-%m-%d %H:%i:%s'
                                     ) <![CDATA[>]]> SYSDATE()
                  </if>
                  <if test='classesSearchTpCd != null and classesSearchTpCd.equals("CS05")'>
                      AND DATE_ADD(
                                   STR_TO_DATE(
                                               CONCAT(
                                                      DATE_FORMAT(C.CLASS_STRT_DATE, '%Y-%m-%d')
                                                     ,C.CLASS_STRT_TIME)
                                              ,'%Y-%m-%d %H:%i:%s')
                                    ,interval cast(C.CLASS_DRTN_TIME as unsigned) minute
                                   ) <![CDATA[<]]> SYSDATE()
                  </if>
                <if test='classesSearchMCd != null and classesSearchMCd.equals("MT01")'>
                    AND C.CLASS_ID = tmcl.CLASS_ID
                </if>
                <if test='classesSearchMCd != null and classesSearchMCd.equals("MT02")'>
                    AND C.MENTO_ID = #{mentoId}
                </if>
            </when>
        </choose>
        <if test='searchFilterTpCd != null and searchFilterTpCd.equals("FT01")'>
            ORDER BY C.CRE_DTTM DESC
        </if>
        <if test='searchFilterTpCd != null and searchFilterTpCd.equals("FT02")'>
            ORDER BY likeCnt DESC
        </if>

    </select>
</mapper>