<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.classes.mapper.ClassesMapper">
<!--insert: 클래스 신청하-->
    <insert id="insertClass" parameterType="classes" >
       INSERT INTO TB_CLASS_L (
        CLASS_ID,
        MENTO_ID,
        CLASS_CTGR_CD,
        CLASS_DETAIL_CTGR_CD,
        CLASS_NM,
        CLASS_FILE_SEQNO,
        CLASS_TITLE,
        CLASS_DSTN,
        CLASS_STRT_DATE,
        CLASS_STRT_TIME,
        CLASS_DRTN_TIME,
        CLASS_CURRENT_MTE,
        CLASS_MAX_MTE,
        CLASS_PLACE,
        CLASS_CHARGE,
        CRE_DTTM

       ) VALUES(
        #{classId},
        #{mentoId},
        #{classCtgrCd},
        #{classDetailCtgrCd},
        #{classNm},
        #{classFileSeqno, jdbcType=INTEGER},
        #{classTitle},
        #{classDstn},
        TO_DATE(#{classStrtDate},'YYYY-MM-DD'),
        #{classStrtTime},
        #{classDrtnTime},
        #{classCurrentMte},
        #{classMaxMte},
        #{classPlace},
        #{classCharge},
        sysdate
       )
    </insert>
    <select id="selClassId" resultType="String">
   SELECT FN_PK_GEN('CS') FROM DUAL
    </select>
 <insert id="insertClassProcess" parameterType="classes">
     <selectKey keyProperty="classProcessSeqno" resultType="integer" order="BEFORE">
         SELECT TB_CLASS_P_SEQ.nextval FROM DUAL
     </selectKey>
    INSERT INTO TB_CLASS_PROCESS_L (
        CLASS_PROCESS_SEQNO,
        CLASS_ID,
        CLASS_PROCESS_TITLE,
        CLASS_PROCESS_DESC,
        CRE_DTTM
       ) VALUES(
   #{classProcessSeqno},
   #{classId},
   #{classProcessTitle},
   #{classProcessDesc},
    sysdate
   )
 </insert>
<!--    파일 일련번호 자동 생성 여부 체크 -->
 <insert id="insertClassDetail" parameterType="classes">
     <selectKey keyProperty="classDetailSeqno" resultType="integer" order="BEFORE">
         SELECT TB_CLASS_D_SEQ.nextval FROM DUAL
     </selectKey>
      INSERT INTO TB_CLASS_DETAIL_L (
       CLASS_DETAIL_SEQNO,
       CLASS_ID,
       CLASS_DETAIL_TITLE,
       CLASS_DETAIL_FILE_SEQNO,
       CRE_DTTM
      )VALUES(
      #{classDetailSeqno},
      #{classId},
      #{classDetailTitle},
      #{classDetailFileSeqno},
      sysdate
      )
 </insert>

<select id="selectDateClass"  parameterType="classes" resultType="classes">
SELECT
        C.CLASS_ID AS classId
       ,C.MENTO_ID AS mentoId
       ,C.CLASS_CTGR_CD AS classCtgrCd
       ,C.CLASS_DETAIL_CTGR_CD AS classDetailCtgrCd
       ,C.CLASS_NM AS classNm
       ,CLASS_FILE_SEQNO AS classFileSeqno
        FROM TB_CLASS_L C
        WHERE
        CLASS_STRT_DATE <![CDATA[ >=]]>  TO_DATE('#{classStrtDate}', 'YYYYMMDD')
        AND
        CLASS_STRT_DATE <![CDATA[ <=]]>  TO_DATE('#{searchEndDate}')
        ORDER BY CLASS_STRT_DATE DESC
</select>
</mapper>