<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.terms.mapper.TermsMapper">

    <insert id="insertMemTermsInfo"
            parameterType="terms">
       INSERT INTO /* insert - MemberMapper.xml : 210927 @eunseo */
        TB_MEMBER_TERMS_L (
             MEM_ID
           , TERMS_CD
           , TERMS_AGR_DTTM
           , CRE_DTTM
        ) VALUES (
            #{memId}
            ,#{termsCd}
            ,SYSDATE()
            ,SYSDATE()
        )
    </insert>
</mapper>