.class-apply-footer{border-top:1px solid rgb(248, 248, 248); position: fixed;bottom:0; left:auto !important; right: 0; width: calc(100% - 320px);}
.class-apply-main{margin-left: 320px; width: calc(100% - 320px);}

.category-list{ max-width: 320px;  position:sticky; top:0; bottom:0;  overflow-y: auto; box-sizing: border-box;  max-height:100vh;
  padding-top: 80px; padding-right: 3rem;}
.class-list{background-color: inherit;}
.category-list .category-btn{display: inline-flex;height: 5rem;padding: 0 1.5rem 0 2.2rem;border-radius: 1.4rem;width: 100%; justify-content: space-between; border:none;
margin-bottom: 20px;}
.category-list .category-btn .category-count{  background-color: #eae7f1;  border-radius: 0.9rem; width: 2rem; height: 2rem;
    font-size: 1.5rem; display: flex;  align-items: center; align-content: center;  justify-content: center;  box-sizing: border-box;  font-style: normal;}
.class-search-input{max-width: 500px; width: 50%;}
.category-list .category-btn.clicked{color: #fff;}
.category-list .category-btn.clicked .category-text{color: #fff;}
.category-list .category-btn.clicked .category-count{color: #000; background-color: #fff;} 

.sub-category-list{margin: -5px;}
.sub-category-list .cate-badge-shape:not(.clicked){border-color: no;color: #363636;}
.sub-category-list .cate-badge-shape{margin: 5px;}

.class-progress-bar{display: flex; overflow: hidden;  -webkit-box-flex: 1;  flex-grow: 1; border-radius: 2px;
 background-color: rgb(248, 248, 248);height: 3px; position: absolute; bottom: 0;width: 100%;}
.class-progress-bar span{width: 100%;height: 100%;border-radius: 2px; background-color: #485fc7;transition: transform 0.3s ease-in-out 0s;}

.class-apply-list{max-width: 320px;position: fixed;top:0;bottom:0;overflow-y: auto;box-sizing: border-box;min-height:100vh;width: 100%;
  border-right:1px solid rgb(248, 248, 248);padding-top: 48px;}
.class-apply-list .class-progress-btn{width: 100%; justify-content: flex-start;}
.class-progress-btn .progress-number{font-style: normal;}
.class-progress-btn:not(.completed) .check-icon{display:none;}
.class-progress-btn .class-progress-check{ border: 1px  solid rgb(239, 239, 239);  background-color: rgb(255, 255, 255); border-radius: 6px;
      margin-right: 12px; width: 24px; height: 24px;  display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center;  align-items: center;}

.class-progress-btn.completed .class-progress-check{background-color: #485fc7; border-color:#485fc7;}
.class-progress-btn.completed .progress-number{display: none;}

.img-upload-area{display: flex;height: 300px; justify-content: flex-start; position: relative;}
.img-upload-area:hover{cursor: pointer;}
.img-upload-area label,
.img-upload-area .preview{position: absolute;left: 0;right: 0;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.img-upload-area .img-option-box{position: absolute; right: 0; top: 0;}
.img-upload-area .preview{display: none;}
.img-upload-area input{/* display: none; */}
.img-upload-area:active{outline: none; }

@media screen and (max-width: 1024px){
.category-list{max-width: 100%;display: flex;width: 100% !important;position: relative;flex-wrap: wrap;padding-right: 1rem; padding-top: 0px;}
.category-list .category-btn{max-width: calc(50% - 14px);flex: 0 0 auto;height: 40px;border-radius: 0.25rem;margin: 7px;}
.category-list .category-btn .category-count{width: 1.5rem; height: 1.5rem; min-width: 1.5rem;}
}

@media screen and (max-width: 600px){
    .category-list{padding: 0;}
    .category-list .category-btn{padding: 0 1rem 0 1rem;}
}