<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.community.mapper.CommunityMapper">

    <insert id="insert"
            parameterType="community">
        INSERT INTO TB_COMMUNITY_L ( /* insert - CommunityMapper.xml : 211013 @eunseo */
             CMMT_SEQNO
            ,CMMT_TP_CD
            ,MEM_ID
            ,MENTEE_ID
            ,MENTO_ID
            ,CMMT_TITLE
            ,CMMT_CTT
            ,CMMT_FILE_SEQNO
            ,CRE_DTTM
        ) VALUES (
             nextval('CMMT_SEQ')
            ,#{cmmtTpCd}
            ,#{memId}
            ,#{menteeId, jdbcType=VARCHAR}
            ,#{mentoId, jdbcType=VARCHAR}
            ,#{cmmtTitle}
            ,#{cmmtCtt}
            ,#{cmmtFileSeqno, jdbcType=INTEGER}
            ,SYSDATE()
        )
    </insert>

    <select id="getList"
            parameterType="search"
            resultType="community">
        SELECT /* select - CommunityMapper.xml : 211013 @eunseo */
               C.CMMT_SEQNO AS cmmtSeqno
              ,C.CMMT_TP_CD AS cmmtTpCd
              ,CD.CD_NM AS cmmtTpCdNm
              ,CASE WHEN C.CMMT_TP_CD = 'CM01' THEN TMI.MENTEE_NM
                    ELSE T.MENTO_NM
               END AS nickName
              ,C.CMMT_TITLE AS cmmtTitle
              ,C.CMMT_VIEW_CNT AS cmntViewCnt
              ,DATE_FORMAT(C.CRE_DTTM, '%Y-%m-%d %H:%i:%s') AS creDttm
        FROM TB_COMMUNITY_L C
        LEFT OUTER JOIN TB_CD_M CD ON C.CMMT_TP_CD = CD.CD
        LEFT OUTER JOIN TB_MENTEE_I TMI ON C.MENTEE_ID = TMI.MENTEE_ID
        LEFT OUTER JOIN TB_MENTO_I T ON C.MENTO_ID = T.MENTO_ID
        WHERE 1=1
        AND C.USE_YN = 'Y'
        AND C.CMMT_TP_CD = #{info}
        ORDER BY C.CRE_DTTM DESC
        <include refid="com.project.teeto.intergrate.paging.mapper.PaginationMapper.searching">
            <property name="search" value="search"/>
        </include>
    </select>

    <select id="getMyList"
            parameterType="community"
            resultType="community">
        SELECT /* select - CommunityMapper.xml : 211013 @eunseo */
               C.CMMT_SEQNO AS cmmtSeqno
              ,C.CMMT_TP_CD AS cmmtTpCd
              ,CD.CD_NM AS cmmtTpCdNm
              ,CASE WHEN C.CMMT_TP_CD = 'CM01' THEN TMI.MENTEE_NM
                    ELSE T.MENTO_NM
               END AS nickName
              ,C.CMMT_TITLE AS cmmtTitle
              ,C.CMMT_VIEW_CNT AS cmmtViewCnt
              ,DATE_FORMAT(C.CRE_DTTM, '%Y-%m-%d %H:%i:%s') AS creDttm
        FROM TB_COMMUNITY_L C
        LEFT OUTER JOIN TB_CD_M CD ON C.CMMT_TP_CD = CD.CD
        LEFT OUTER JOIN TB_MENTEE_I TMI ON C.MENTEE_ID = TMI.MENTEE_ID
        LEFT OUTER JOIN TB_MENTO_I T ON C.MENTO_ID = T.MENTO_ID
        WHERE 1=1
        AND C.USE_YN = 'Y'
        AND C.CMMT_TP_CD = #{cmmtTpCd}
        AND C.MEM_ID = #{memId}
        ORDER BY C.CRE_DTTM DESC
    </select>

    <select id="getDetail"
            parameterType="int"
            resultType="community">
        SELECT /* select - CommunityMapper.xml : 211014 @eunseo */
               C.CMMT_SEQNO AS cmmtSeqno
              ,C.CMMT_TP_CD AS cmmtTpCd
              ,CD.CD_NM AS cmmtTpCdNm
              ,CASE WHEN C.CMMT_TP_CD = 'CM01' THEN TMI.MENTEE_NM
                    ELSE T.MENTO_NM
               END AS nickName
              ,C.CMMT_TITLE AS cmmtTitle
              ,C.CMMT_CTT AS cmmtCtt
              ,F.FILE_SEQNO AS cmmtFileSeqno
              ,F.FILE_PATH AS cmmtImgFilePath
              ,C.CMMT_VIEW_CNT AS cmmtViewCnt
              ,DATE_FORMAT(C.CRE_DTTM, '%Y-%m-%d %H:%i:%s') AS creDttm
        FROM TB_COMMUNITY_L C
        LEFT OUTER JOIN TB_CD_M CD ON C.CMMT_TP_CD = CD.CD
        LEFT OUTER JOIN TB_MENTEE_I TMI ON C.MENTEE_ID = TMI.MENTEE_ID
        LEFT OUTER JOIN TB_MENTO_I T ON C.MENTO_ID = T.MENTO_ID
        LEFT OUTER JOIN TB_FILE_M F ON C.CMMT_FILE_SEQNO = F.FILE_SEQNO AND F.USE_YN = 'Y'
        WHERE 1=1
        AND C.USE_YN = 'Y'
        AND C.CMMT_SEQNO = #{cmmtSeqno}
    </select>

    <select id="getCommentList"
            parameterType="int"
            resultType="community">
        SELECT /* select - CommunityMapper.xml : 211014 @eunseo */
               C.CMMT_CMT_SEQNO AS cmmtCmtSeqno
              ,CASE WHEN CC.CMMT_TP_CD = 'CM01' THEN TMI.MENTEE_NM
                    ELSE T.MENTO_NM
               END AS nickName
              ,C.MENTEE_ID AS menteeId
              ,C.MENTO_ID AS mentoId
              ,C.CMMT_CMT_CTT AS cmmtCmtCtt
              ,DATE_FORMAT(C.CRE_DTTM, '%Y-%m-%d %H:%i:%s') AS creDttm
        FROM TB_COMMUNITY_COMMENT_L C
        LEFT OUTER JOIN TB_COMMUNITY_L CC ON C.CMMT_SEQNO = CC.CMMT_SEQNO
        LEFT OUTER JOIN TB_MENTEE_I TMI ON C.MENTEE_ID = TMI.MENTEE_ID
        LEFT OUTER JOIN TB_MENTO_I T ON C.MENTO_ID = T.MENTO_ID
        WHERE 1=1
        AND C.USE_YN = 'Y'
        AND C.CMMT_SEQNO = #{cmmtSeqno}
        ORDER BY C.CRE_DTTM DESC
    </select>

    <update id="update"
            parameterType="community">
        UPDATE TB_COMMUNITY_L /* update - CommunityMapper.xml : 211014 @eunseo */
        SET
        <if test='cmmtTitle != null and !cmmtTitle.equals("")'>
            CMMT_TITLE = #{cmmtTitle},
        </if>
        <if test='cmmtCtt != null and !cmmtCtt.equals("")'>
            CMMT_CTT = #{cmmtCtt},
        </if>
        <if test='cmmtFileSeqno != null'>
            CMMT_FILE_SEQNO = #{cmmtFileSeqno},
        </if>
            UPT_DTTM = SYSDATE()
        WHERE 1=1
        AND USE_YN = 'Y'
        AND CMMT_SEQNO = #{cmmtSeqno}
    </update>

    <update id="delete"
            parameterType="community">
        UPDATE TB_COMMUNITY_L /* update - CommunityMapper.xml : 211014 @eunseo */
        SET
            USE_YN = 'N'
           ,UPT_DTTM = SYSDATE()
        WHERE 1=1
        AND CMMT_SEQNO = #{cmmtSeqno}
    </update>

    <update id="deleteAllComment"
            parameterType="int">
        UPDATE TB_COMMUNITY_COMMENT_L /* update - CommunityMapper.xml : 211014 @eunseo */
        SET
            USE_YN = 'N'
           ,UPT_DTTM = SYSDATE()
        WHERE 1=1
        AND CMMT_SEQNO = #{cmmtSeqno}
    </update>

    <insert id="insertComment"
            parameterType="community">
        INSERT INTO TB_COMMUNITY_COMMENT_L ( /* insert - CommunityMapper.xml : 211014 @eunseo */
             CMMT_CMT_SEQNO
            ,CMMT_SEQNO
            ,MEM_ID
            ,MENTEE_ID
            ,MENTO_ID
            ,CMMT_CMT_CTT
            ,CRE_DTTM
        ) VALUES (
             nextval('CMMT_CMT_SEQ')
            ,#{cmmtSeqno}
            ,#{memId}
            ,#{menteeId, jdbcType=VARCHAR}
            ,#{mentoId, jdbcType=VARCHAR}
            ,#{cmmtCmtCtt}
            ,SYSDATE()
        )
    </insert>

    <update id="updateComment"
            parameterType="community">
        UPDATE TB_COMMUNITY_COMMENT_L /* update - CommunityMapper.xml : 211014 @eunseo */
        SET
            CMMT_CMT_CTT = #{cmmtCmtCtt}
           ,UPT_DTTM = SYSDATE()
        WHERE CMMT_CMT_SEQNO = #{cmmtCmtSeqno}
    </update>

    <update id="deleteComment"
            parameterType="int">
        UPDATE TB_COMMUNITY_COMMENT_L /* update - CommunityMapper.xml : 211014 @eunseo */
        SET
            USE_YN = 'N'
           ,UPT_DTTM = SYSDATE()
        WHERE CMMT_CMT_SEQNO = #{cmmtCmtSeqno}
    </update>

    <update id="deleteFileSeqno"
            parameterType="community">
        UPDATE TB_COMMUNITY_L /* update - CommunityMapper.xml : 211102 @eunseo */
        SET
            CMMT_FILE_SEQNO = #{cmmtFileSeqno, jdbcType=INTEGER}
           ,UPT_DTTM = SYSDATE()
        WHERE CMMT_SEQNO = #{cmmtSeqno}
    </update>

    <select id="getTotalCount"
            parameterType="String"
            resultType="int">
      SELECT /* getTotalCount - CommunityMapper.xml : 211117 @eunseo */
            COUNT(CMMT_SEQNO)
      FROM TB_COMMUNITY_L
      WHERE CMMT_TP_CD = #{cmmtTpCd}
      AND USE_YN = 'Y'
    </select>

</mapper>