<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.mento.mapper.MentoMapper">

    <insert id="insert"
            parameterType="mento">
        <selectKey keyProperty="mentoId" resultType="String" order="BEFORE">
            SELECT FN_PK_GEN('TO') FROM DUAL
        </selectKey>
        INSERT INTO TB_MENTO_I (
            MENTO_ID,
            MEM_ID,
            MENTO_NM,
            MENTO_TEL,
            MENTO_DSTN,
            MENTO_BANK,
            MENTO_ACCOUNT,
            CRE_DTTM
         )
        VALUES
        (
            #{mentoId},
            #{memId},
            #{mentoNm},
            #{mentoTel},
            #{mentoDstn, jdbcType=VARCHAR},
            #{mentoBank},
            #{mentoAccount},
            SYSDATE()
        )
    </insert>

    <update id="updateMemTpCd" parameterType="mento">
        UPDATE TB_MEMBER_L
        SET
            MEM_TP_CD = 'MT02',
            UPT_DTTM = SYSDATE()
        WHERE MEM_ID = #{memId}
    </update>

    <!--멘토 닉네임 중복 체크-->
    <select id="checkNm" parameterType="String" resultType="int">
       SELECT
              COUNT(*)
       FROM TB_MENTO_I
       WHERE 1=1
       AND USE_YN = 'Y'
       AND MENTO_NM = #{mentoNm}
    </select>

    <update id="update"
            parameterType="mento">
        UPDATE TB_MENTO_I /* update - MentoMapper.xml : 211011 @eunseo */
        SET
        <if test='mentoTel !=null  and !mentoTel.equals("")'>
            MENTO_TEL = #{mentoTel},
        </if>
        <if test='mentoNm !=null  and !mentoNm.equals("")'>
            MENTO_NM = #{mentoNm},
        </if>
        <if test='mentoDstn !=null  and !mentoDstn.equals("")'>
            MENTO_DSTN = #{mentoDstn},
        </if>
        <if test='mentoBank !=null  and !mentoBank.equals("")'>
            MENTO_BANK = #{mentoBank},
        </if>
        <if test='mentoAccount !=null  and !mentoAccount.equals("")'>
            MENTO_ACCOUNT = #{mentoAccount},
        </if>
            UPT_DTTM = SYSDATE()
        WHERE 1=1
        AND USE_YN = 'Y'
        AND MENTO_ID = #{mentoId}
    </update>

    <select id="getDetail"
            parameterType="String"
            resultType="mento">
        SELECT /* update - MentoMapper.xml : 211015 @eunseo */
               MENTO_ID AS mentoId
              ,MENTO_NM AS mentoNm
              ,MENTO_TEL AS mentoTel
              ,MENTO_DSTN AS mentoDstn
              ,MENTO_BANK AS mentoBank
              ,MENTO_ACCOUNT AS mentoAccount
        FROM TB_MENTO_I
        WHERE 1=1
        AND USE_YN = 'Y'
        AND MENTO_ID = #{mentoId}
    </select>
</mapper>