<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.mentee.mapper.MenteeMapper">

    <insert id="insert"
            parameterType="mentee">
        <selectKey keyProperty="menteeId" resultType="String" order="BEFORE">
            SELECT FN_PK_GEN('TE') FROM DUAL
        </selectKey>
       INSERT INTO
        TB_MENTEE_I (
             MEM_ID
           , MENTEE_ID
           , MENTEE_NM
           , CRE_DTTM
        ) VALUES (
             #{memId}
           , #{menteeId}
           , #{menteeNm}
           , sysdate
        )
    </insert>

    <insert id="likeClass" parameterType="mentee">
        <selectKey keyProperty="classLikeSeqno" resultType="integer" order="BEFORE">
            SELECT TB_MENTEE_CLASS_LIKE_L_SEQ.nextval FROM DUAL
        </selectKey>
        INSERT INTO
        TB_MENTEE_CLASS_LIKE_L (
        CLASS_LIKE_SEQNO
        , MENTEE_ID
        , CLASS_ID
        , CRE_DTTM
        ) VALUES (
         #{classLikeSeqno}
        , #{menteeId}
        , #{classId}
        , sysdate
        )
    </insert>

    <update id="deleteClass" parameterType="mentee">
        UPDATE
        TB_MENTEE_CLASS_LIKE_L
        SET
        USE_YN = 'N'
        WHERE
        MENTEE_ID = #{menteeId}
        and CLASS_ID = #{classId}
    </update>

    <insert id="insertPayment" parameterType="mentee">
        <selectKey keyProperty="paymentSeqno" resultType="integer" order="BEFORE">
            SELECT TB_PAYMENT_L_SEQ.nextval FROM DUAL
        </selectKey>
        INSERT INTO
        TB_PAYMENT_L (
        PAYMENT_SEQNO
        ,MENTEE_ID
        ,CLASS_ID
        ,PAYMENT_TP_CD
        ,PAYMENT_PRICE
        , CRE_DTTM
        ) VALUES (
        #{paymentSeqno}
        ,#{menteeId}
        ,#{classId}
        ,#{paymentTpCd}
        ,#{paymentPrice}
        ,sysdate
        )
    </insert>

    <insert id="insertClasses" parameterType="mentee">
        <selectKey keyProperty="paymentSeqno" resultType="integer" order="BEFORE">
            SELECT TB_PAYMENT_L_SEQ.CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO
        TB_MENTEE_CLASS_L (
        CLASS_ID
        ,MENTEE_ID
        ,CLASS_APPL_DATE
        ,PAYMENT_SEQNO
        ,CRE_DTTM
        ) VALUES (
        #{classId}
        ,#{menteeId}
        ,sysdate
        ,#{paymentSeqno}
        , sysdate
        )
    </insert>

</mapper>