<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.teeto.mentee.mapper.MenteeMapper">

    <insert id="insert"
            parameterType="mentee">
        <selectKey keyProperty="menteeId" resultType="String" order="BEFORE">
            SELECT FN_PK_GEN('TE') FROM DUAL
        </selectKey>
       INSERT INTO
        TB_MENTEE_I (
             MEM_ID
           , MENTEE_ID
           , MENTEE_NM
           , CRE_DTTM
        ) VALUES (
             #{memId}
           , #{menteeId}
           , #{menteeNm}
           , SYSDATE()
        )
    </insert>

    <insert id="updateLike"
            parameterType="mentee">
        INSERT INTO TB_MENTEE_CLASS_LIKE_L (
            CLASS_LIKE_SEQNO
           ,MENTEE_ID
           ,CLASS_ID
           ,CRE_DTTM
        ) VALUES (
            #{classLikeSeqno}
           ,#{menteeId}
           ,#{classId}
           ,SYSDATE()
        )
        ON DUPLICATE KEY
        UPDATE
              USE_YN = CASE
              WHEN #{useYn} = 'Y' THEN 'N'
              ELSE 'Y' END
             ,UPT_DTTM = SYSDATE()
    </insert>

    <insert id="insertPayment"
            parameterType="mentee">
        <selectKey keyProperty="paymentSeqno" resultType="integer" order="BEFORE">
            SELECT nextval('PAYMENT_SEQ') FROM DUAL
        </selectKey>
        INSERT INTO TB_PAYMENT_L (
             PAYMENT_SEQNO
            ,MENTEE_ID
            ,CLASS_ID
            ,PAYMENT_TP_CD
            ,PAYMENT_PRICE
            ,CRE_DTTM
        ) VALUES (
             #{paymentSeqno}
            ,#{menteeId}
            ,#{classId}
            ,#{paymentTpCd}
            ,#{paymentPrice}
            ,SYSDATE()
        )
    </insert>

    <insert id="insertClasses"
            parameterType="mentee">
        INSERT INTO TB_MENTEE_CLASS_L (
             CLASS_ID
            ,MENTEE_ID
            ,CLASS_APPL_DATE
            ,PAYMENT_SEQNO
            ,CRE_DTTM
        ) VALUES (
             #{classId}
            ,#{menteeId}
            ,SYSDATE()
            ,#{paymentSeqno}
            ,SYSDATE()
        )
    </insert>

    <select id="getLikeInfo"
            parameterType="mentee"
            resultType="mentee">
        SELECT
                CLASS_LIKE_SEQNO AS classLikeSeqno
               ,USE_YN AS useYn
        FROM TB_MENTEE_CLASS_LIKE_L
        WHERE CLASS_ID = #{classId}
        AND MENTEE_ID = #{menteeId}
    </select>

    <select id="getNextLikeSeqno"
            resultType="int">
        SELECT nextval('MTE_CS_LIKE_SEQ') FROM DUAL;
    </select>

</mapper>